/* header */

.header {
  background-color: #D9E5FF;
  padding: 20px 50px;
}

.grind-6  a {
  font-size: 25px;
  color: #66DCAA;
  transition: 0.3s ease;
}

.grind-6 a:hover{
  color: yellow;
}



.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav_btn{
  display: inline-block;
  color:blue;
  border: 1px #00BFFF solid;
  transition: 0.3s ease;
  border-radius: 3px;
}

.nav_btn:hover{
  color: yellow;
  background:#00FFFF ;
}

.nav_logout{
  display: inline-block;
  color: blue;
  border: 1px #00BFFF solid;
  transition: 0.3s ease;
  border-radius: 3px;
}

.nav_logout:hover{
  color: yellow;
  background:#00FFFF ;
}
 