.form_wrapper {
  min-height: 100vh;
  text-align: center;
 
 }
 
 .book-main {
   border: double  5px  aqua;
   width: 50%;
   margin: 0 auto;
   background-color: #CCFFFF	;
   min-height: 100vh;
 }
 
 
 .book-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
 }
 
 .img-upload {
   display: flex;
   justify-content: space-between;
   padding: 2vh 0;
 }
 
 .img-text {
   font-size: 15px;
   min-width: 150px;
   margin-bottom: 20px;
 }
 
 .click-upload {
   font-size: 10px;
 }
 
 .new-book {
   margin: 20px 0;
   border-radius: 2px;
 }
 
 .book-name {
   font-weight: initial;
 }
 
 .indispensable {
   border: 1px red solid;
   font-size: 12px;
   color: red;
 }
 
 .sell-btn-contents {
   justify-content: space-between;
   margin: 0 auto;
   margin-bottom: 30px;
 }
 
 .sell-btn {
   margin-right: 20px;
 }
 
 .back-btn {
   border: 1px black solid;
   font-size: 15px;
   padding: 5px 5px;
   background-color: #EFEFEF;
   border-radius: 3px;
 }

 
 /* 全てnew.cssとかぶっている */

 
 