
.form_wrapper{
  text-align: center;
  min-height: 100vh
}

.page-heading{
  font-weight: initial;
  line-height: 50px;
  color: black;
}


.form-field{
  margin-top: 20px;
  padding: 20px;
}

.description {
  width: 30%;
  border-radius: 4px;
}

.form-text{
  font-weight: initial;
  font-size: 18px;
}

.caution{
  border: 1px red solid;
  font-size: 12px;
  color: red;
}

.form_btn {
  margin: 100px 0;
  font-size: 20px;
}




